/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-hero-background-color: #5ebf0d;
  --ifm-color-danger: #ff5454;
  --ifm-code-background: hsl(0, 0%, 90%);
}

html[data-theme='dark'] {
  --ifm-code-background: hsl(0, 0%, 25%);
  --ifm-color-danger: #8d3939;
  --ifm-alert-color: #478fa7;
}
