.params header {
  box-shadow: 1px 1px 3px #c9c9c9;
  padding: 8px;
  border-radius: 8px;
}

.endpoint {
  margin-left: 7px;
  font-size: 1.2em;
  font-family: "Courier New", sans-serif;
}

.parameters {
  margin-top: 9px;
}

.noParams {
  text-align: center;
  margin-top: 15px;
}
